.nav {
    display: flex;
    width: 1200px;
    background-color: rgb(39, 38, 38);
    color: white;
    align-items: center ;
    justify-content: space-around;
    font-family:'Courier New', Courier, monospace;
}

.nav-title{
    font-weight: bold;
    font-size: 200%;
    margin-right:200px ;
}

.nav-links{
    display: flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-around;
    font-size: 25px;
    color: slategray;
}

a {
    text-decoration: none;
    color: slategrey;
}
span {
    color:white;
}
.btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    height: fit-content;
    color: whitesmoke;
    background-color: teal;
    border-radius: 2px;
    border-color: black;
    box-shadow: 4px 4px black;
}